{% extends "playground_base.html" %}
{% load staticfiles %}
<!-- Don't include POST button -->
{% block post_button %}{% endblock %}
<!-- Don't include the tab bar -->
{% block tabbar %}{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <h1>Login</h1>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action=".">{% csrf_token %}
            <table border="0">
                <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
                <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
            </table>
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="/login_home" />
        </form>
        Don't have an account yet? <a href="/register"><span class="glyphicon glyphicon-check"></span>Register</a> now!
    </div>
</div>
<script type="text/javascript">
    // we need the following code to let the django-generated form apply our bootstrap form style
    // they are: input color, submit button applying brand button style
    // if you can find a way to pre-add the class collaborate with django form system, then you can delete the code below.
    $(function(){
        $("input[type='text'], input[type='password']").addClass("form-control");
        $("input[type='submit']").addClass("btn btn-primary");
    });
</script>
{% endblock %}