{% extends "playground_base.html" %}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-body">
		<h1>Create New Account</h1>
	    <form method="post" action=".">{% csrf_token %}
	        <table border="0">
	            {{ form.as_table }}
	        </table>
	        <input type="submit" value="Register" />
	    </form>
	</div>
</div>
    <!-- <a href="/">Login</a> -->
<script type="text/javascript">
	// we need the following code to let the django-generated form apply our bootstrap form style
	// they are: input color, submit button applying brand button style
	// if you can find a way to pre-add the class collaborate with django form system, then you can delete the code below.
	$(function(){
		$("input[type='text'], input[type='password']").addClass("form-control");
		$("input[type='submit']").addClass("btn btn-primary");
	});
</script>
{% endblock %}