<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YouBox</title>

    <!-- jQuery and its plugins -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <script src="{% static 'site/js/post.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/link.js' %}" type="text/javascript"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Customed Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/1-col-portfolio.css' %}" rel="stylesheet">
    <!--Load Youtube API-->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>
<body>
    <!-- Resolving Django POST request forbidden issue-->
    {% csrf_token %}
    <script>
    $(function(){
          // resolving POST request forbidden issue
          var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();
          
          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      });
    </script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="{% static 'home_tab/home_tab.js' %}"></script>


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My favorite music site!</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a type="button" data-toggle="modal" data-target="#myModal">POST</a>
                    </li>
                    

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.username %}
                    <li><p class="navbar-text">Hi {{ user.username }} !</p></li>
                    <li><a href="/logout/" >LOGOUT</a></li>
                    {% else %}
                        {% url 'login' as the_url %}
                    <li><a href="{{ the_url }}">LOGIN</a></li>
                    {% endif %}

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Tab Switcher -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">File</a></li>
      <li><a href="#">Search</a></li>
  </ul>

  <!-- Post Content -->
  <div id='post_container' class="container-fluid">
    <!-- Post Heading -->
            <!--
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Page Heading
                        <small>Secondary Text</small>
                    </h1>
                </div>
            </div>
        -->
        <!-- /.row -->

        <!-- Project One -->
        <!--
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project One</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        -->
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <div id='footer_container' class="container-fluid">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; YouBox 2015</p>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- Implementation of Post and Login Button feature -->
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Post New Song!</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" role="tablist" id = 'myTabs'>
                <li role="presentation" class="active"><a href="#link" aria-controls="link" role="tab" data-toggle="tab" aria-expanded = "true" >Link</a></li>
                <li role="presentation"><a href="#search_tab" aria-controls="search_tab" role="tab" data-toggle="tab">Search</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="link">
                    <div >
                        <div style='float:right;'>
                            <div id='link_video'></div>
                        </div>
                       <form action="/post/" method="post" style = "width:45%;">{% csrf_token %}
                            <div class="form-group">
                                <label for="input_link">link</label>
                                <input type="link" class="form-control" id="input_link" name = "input_link" placeholder="Please paste the link">    
                                <!--<button  id="show_link">show link</button> -->
                                <input type="button"  id="show_link" value="show link">
                            </div>
                             <div class="form-group">
                                    <label for="vidsID">videoID</label>
                                    <input  class="form-control" id="vidsID" name = "vidsID" placeholder="Video ID">
                                </div>
                                <div class="form-group">
                                    <label for="input_start">Where do you want it to start</label>
                                    <input type="start_time" class="form-control" id="input_start" name = "input_start" placeholder="calculated in seconds">
                                </div>
                                <div class="form-group">
                                    <label for="post_message">Say sth...</label>
                                    <textarea type="text" class="form-control" id="post_message" placeholder="type sth here" rows="3" name = "post_message" ></textarea>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                      <option>Rock</option>
                                      <option>Hip hop</option>
                                      <option>Relax</option>
                                      <option>Classic</option>
                                      <option>Party</option>
                                    </select>
                                </div>
                                <!--<div class="checkbox">
                                    <label>
                                    <input type="checkbox"> Check me out
                                    </label>
                                </div>-->
                                <input type="submit" class="btn btn-default" value="Submit">
                               
                            </form>
                            
                        </div>
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="search_tab">
                        <div>
                            <div class="row" align="center">
                                <div class="col-md-6 col-md-offset-3">
                                    <form action="#" id='search_form'>
                                        <label for="input_song">Search new songs</label>
                                        <p><input type="text" id="input_song" placeholder="insert here..." autocomplete="off" class="form-control" /></p>
                                        <p><input type="submit" value="Search" class="form-control btn btn-primary w100" style ="width:45%;" ></p>
                                    </form>
                                    <div id="results"></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Send message</button>-->
            </div>
        </div>

    </div>
</div>





</body>
</html>