<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>YouBox</title>

        
        <!-- Custom CSS -->
        <link href="../static/bootstrap/css/1-col-portfolio.css" rel="stylesheet">
        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'site/js/post.js' %}" type="text/javascript"></script>
        <script src="{% static 'site/js/search.js' %}" type="text/javascript"></script>
        <script src="{% static 'site/js/link.js' %}" type="text/javascript"></script>
        <!--load youtube api-->
        <script src="https://apis.google.com/js/client.js?onload=init"></script>
        <!-- Bootstrap Core CSS -->
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        


    </head>
    <body>



    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My favorite music site!</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a type="button" data-toggle="modal" data-target="#myModal">POST</a>
                    </li>
                    <li>
                        {% url 'login' as the_url %}
                        <a href="{{ the_url }}">LOGIN</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Explore</a></li>
      <li><a href="#">File</a></li>
      <li><a href="#">Search</a></li>
    </ul>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Page Heading
                    <small>Secondary Text</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project One</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Two</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Three</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Four</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Five</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

        <div id="banner">
            <div id="banner_top" class="banner">My favorite music site!</div>
            <div id="post_button" class="banner button">POST</div>
            <div id="login_button" class="banner button">LOGIN</div>
        </div>
        
        <div id="tab_container">
            <div id="home" class="tab">Home</div>
            <div id="explore" class="tab">Explorer</div>
            <div id="profile" class="tab">Profile</div>
            <div id="search" class="tab">Search</div>
        </div>

        <div id="content_container">
            <div id="home_content">This is Home</div>
            <div id="explore_content">This is Explorer</div>
            <div id="profile_content">This is Profile</div>
            <div id="search_content">This is Search</div>
        </div>



        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
            
              <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Post New Song!</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist" id = 'myTabs'>
                        <li role="presentation" class="active"><a href="#link" aria-controls="link" role="tab" data-toggle="tab" aria-expanded = "true" >Link</a></li>
                        <li role="presentation"><a href="#search_tab" aria-controls="search_tab" role="tab" data-toggle="tab">Search</a></li>
                     </ul>
                
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="link">
                        <div >
                            <div style='float:right;'>
                                <div id='link_vedio'></div>
                            </div>
                            <form style = "width:45%;">
                                <div class="form-group">
                                    <label for="input_link">link</label>
                                    <input type="link" class="form-control" id="input_link" placeholder="Please paste the link">    
                                    <button type="submit" id="show_link">show link</button>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="input_start">Where do you want it to start</label>
                                    <input type="start_time" class="form-control" id="input_start" placeholder="calculated in seconds">
                                </div>
                                <div class="form-group">
                                    <label for="post_message">Say sth...</label>
                                    <textarea type="text" class="form-control" id="post_message" placeholder="type sth here" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                      <option>Rock</option>
                                      <option>Hip hop</option>
                                      <option>Relax</option>
                                      <option>Classic</option>
                                      <option>Party</option>
                                    </select>
                                </div>
                                <!--<div class="checkbox">
                                    <label>
                                    <input type="checkbox"> Check me out
                                    </label>
                                </div>-->
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                            
                        </div>
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="search_tab">
                        <div>
                            <div class="row" align="center">
                                <div class="col-md-6 col-md-offset-3">
                                    <form action="#">
                                        <label for="input_song">Search new songs</label>
                                        <p><input type="text" id="input_song" placeholder="insert here..." autocomplete="off" class="form-control" /></p>
                                        <p><input type="submit" value="Search" class="form-control btn btn-primary w100" style ="width:45%;" ></p>
                                    </form>
                                    <div id="results"></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   <!-- <button type="button" class="btn btn-primary">Send message</button>-->
                </div>
            </div>
              
            </div>
        </div>


        <!-- jQuery -->
        <script src="../static/bootstrap/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>