{% extends 'playground_base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Custom CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static 'js/initialize_youtube_api.js' %}"></script>

    <!-- thumbnail CSS -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
   


    {% if all_users %}
    <div class="bg-1">
        <div class="container" id="user-grid-container">
        <div class="row text-center">
        {% for user in all_users %}


                {% if user ==  user_self%}

                {% else %}

                {% for user_follow in follower %} 

                
                {% if user.username|stringformat:"s" !=  user_follow.follow|stringformat:"s" %}

                  <div class="col-sm-4">
                    <div class="thumbnail">
                    <img src="{% static 'img/user_pic.jpg' %}" class= "img-circle img-responsive img-thumbnail" style="width:70px; height: 70px;" >
                      <p><strong>{{ user.username }}</strong></p>
                    <div class="list-group">


                     {% for post in all_posts%}

                        {% if post.user_id|stringformat:"s" == user.username|stringformat:"s" %}
                          <a href="#" class="list-group-item">{{ post.title }}</a>
                         {%endif%}

                    {% endfor %} 



                    </div>

                      <a href="/profile/{{user.username}}" class="btn">More Posts</a>
                    </div>
                  </div>

                  {% endif %}

                  {% empty %}

                  <div class="col-sm-4">
                    <div class="thumbnail">
                    <img src="{% static 'img/user_pic.jpg' %}" class= "img-circle img-responsive img-thumbnail" style="width:70px; height: 70px;" >
                      <p><strong>{{ user.username }}</strong></p>
                    <div class="list-group">


                     {% for post in all_posts%}

                        {% if post.user_id|stringformat:"s" == user.username|stringformat:"s" %}
                          <a href="#" class="list-group-item">{{ post.title }}</a>
                         {%endif%}

                    {% endfor %} 



                    </div>

                      <a href="/profile/{{user.username}}" class="btn">More Posts</a>
                    </div>
                  </div>

                  {% endfor %}

                  {% endif %}
 
        {% endfor %}

        </div>
        </div>
    </div>


    {% else %}
        <div>Sorry, no posts in this category.</div>
    {% endif %} 

    <div id='post_container' class="container-fluid" ></div>


<style>

    .portfolio-hover{

        color: rgb(72, 72, 147);
    }
  #user-grid-container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
</style>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

{% endblock %}