{% extends 'playground_base.html' %}
{% load staticfiles %}
{% block content %}


<div  id='post_container' style="margin-top:20px" class=' col-md-offset-2 col-md-8 container-fluid'></div>

<script>
$(function(){

    render_post(
        "post_container",{
            "limit":10,
            "category":"{{ category }}",
            "sort_by":"-likes",
        }   
    );
});

</script>

<!-- {{ category }}
{% if post_list %}
    {% for post in post_list|dictsortreversed:"likes" %}
      <div>
         {{ post.title }}
         {{ post.url }}
        {{ post.start_time }}
        {{ post.post_message }}
        {{ post.likes }}
        {{ post.people }}
        {{ post.user_id }}
        {{ post.category }}
        {{ post.time }}
    </div>
    {% endfor %}

{% else %}
    <div>Sorry, no posts in this category.</div>
{% endif %} -->

<!-- {% for post in post_list %}
    <div>
    {{ post.title }}
    {{ post.url }}
    {{ post.start_time }}
    {{ post.post_message }}
    {{ post.likes }}
    {{ post.people }}
    {{ post.user_id }}
    {{ post.category }}
    {{ post.time }}

    </div>
{% endfor %}  -->
 
<style>

    .portfolio-hover{

        color: rgb(72, 72, 147);
    }

</style>


{% endblock %}

