{% extends 'profile_other.html' %}
{%block name%}
<h3>{{ follow_user}}
	<input type="button" class="btn btn-primary btn-xs" style="margin-left:10px" onclick='follow(this)' value='+follow'/></h3>
{%endblock%}
{%block scripts%}
<script type="text/javascript">



var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    onYouTubePlayerAPIReady();

	function onYouTubePlayerAPIReady() {
        
       
            console.log("youtube onready called once");
            render_post('post_container', {
                "username": '{{ follow_user }}',
                "limit": 3
            });
        
    }


function follow(item){
	//var current_user={{user_other}};
	//console.log(current_user);
	if($(item).attr('value')=='followed'){
		$(item).prop('class','btn btn-primary btn-xs');
		$(item).prop('value','+follow');
		$.post('/unfollow/',{
			"follow":"{{follow_user}}"
		});
		
	
	}
	else{
		$(item).prop('class','btn btn-success btn-xs');
		$(item).prop('value','followed');
		$.post('/follow/',{
			"follow":"{{follow_user}}"
		});
		
	}
	
	
}


</script>
{% endblock %}
