{% extends 'playground_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- External CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
    
    <!--Load Youtube API-->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

    
    <!-- Portfolio Grid Section: categories -->
    <section id="portfolio" class="bg-darkest-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Categories</h2>
                    <h3 class="section-subheading text-muted">What kind of music do you want right now? :)</h3>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/pop" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/pop.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Pop</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/rock" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/rock.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rock</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered"style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/post_rock" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/postrock.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Post rock</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/punk" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/punk.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Punk</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/indie" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/indie.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Indie</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/acoustic" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/acoustic.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Acoustic</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered"style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/hip_hop" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/hiphop.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Hip hop</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/electronic" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/electronic.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Electronic</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered"style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/randb" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/r&b.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>R&B</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/country" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/country.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Country</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/jazz" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/jazz.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jazz</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/classical" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/classical.jpg' %}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Classical</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section: languages -->
    <section id="portfolio" class="bg-darkest-gray" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" >Global</h2>
                    <h3 class="section-subheading text-muted">Different culture always brings different music.</h3>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/english" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/english.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>English</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/chinese" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/chinese.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Chinese</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/japanese" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/japanese.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Japanese</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/korean" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/korean.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Korean</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/cantonese" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/cantonese.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Cantonese</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section: mood -->
    <section id="portfolio" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" >Mood</h2>
                    <h3 class="section-subheading text-muted">Let these music be the soundtracks of your life!</h3>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/happy" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/happy.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Happy</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/chill" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/chill.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Chill</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/moody" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/moody.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Moody</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/raging" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/raging.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Raging</h4>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item col-centered" style=" width: 225px; height:250px;">
                    <a href="/explore/songcategories/content/confident" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/confident.jpg' %}" class="img-responsive" alt="" style=" width: 225px; height:130px;">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Confident</h4>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <style>
        .portfolio-hover {
            color: rgb(72, 72, 147);
        }
        /* centered columns styles */
        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
        }
        .section-heading{
            color: rgb(254,203,20);
        }
    </style>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>


{% endblock %}