<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YouBox</title>

    <!-- jQuery and its plugins -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- ??? Bootstrap CSS -->
    <link href="{% static 'bootstrap/css/1-col-portfolio.css' %}" rel="stylesheet">


    <!-- Fonts -->
    <!-- Montserrat -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- Roboto+Slab -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>

    <!-- <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- Font Awesome for icons besides bootstrap glyphicon -->
    <link href="{% static 'font-awesome-4.5.0/css/font-awesome.min.css' %}" rel="stylesheet">
    
    <!-- Customized JavaScript for Navigator 'POST' and 'LOGIN' -->
    <script src="{% static 'site/js/post.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/playlist.js' %}" type="text/javascript"></script>
    <script src="{% static 'site/js/link.js' %}" type="text/javascript"></script>
    <!-- For Playlist drag and drop -->
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    
    <!-- Load Youtube API -->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

    <!-- Customized JavaScript Function for global use -->
    <script type="text/javascript" src="{% static 'js/site_utilities.js' %}"></script>

    <!-- Customized JavaScript for rendering post -->
    <script type="text/javascript" src="{% static 'js/post_renderer.js' %}"></script>

    <!-- This Base HTML Style -->
    <style>
        /* this defines the curtain effect when hover on a category 
         currently only used in category page */
        /*.portfolio-hover {
            color: rgb(72, 72, 147);
        }*/
        /* centered columns styles */
        .row-centered {
            text-align:center;
        }
        .col-centered {
            display:inline-block;
            float:none;
            /* reset the text-align */
            text-align:left;
            /* inline-block space fix */
            margin-right:-4px;
        }
        .section-heading{
            /*color: #FFD700;*/
            /*the yellow*/
            /*color: rgb(255,215,0);*/
        }
        

    </style>
</head>

<body>
    <!-- Resolving Django POST request forbidden issue-->
    {% csrf_token %}
    <script>
        $(function() {
            // resolving POST request forbidden issue
            var csrftoken = $('input[name="csrfmiddlewaretoken"]').val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
    
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">YouBox</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="" type="button" data-toggle="modal" data-target="#myModal">POST</a>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.username %}
                    <li>
                        <p class="navbar-text">Hi {{ user.username }} !</p>
                    </li>
                    <li>
                        <a href="/accounts/settings/">Account</a>
                    </li>
                    <li><a href="/logout/">LOGOUT</a></li>
                    {% else %} {% url 'login' as the_url %}
                    <li><a href="{{ the_url }}">LOGIN</a></li>
                    {% endif %}

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block tabbar %}
    <!-- Tab Switcher -->
    <ul class="nav nav-tabs">
        <!-- Home -->
        <li class="{% if tab == 'home' %}active{% endif %}"><a href="/home">Home</a></li>
        <!-- Explore -->
        <li class="{% if tab == 'explore' %}active{% endif %} dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Explore<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class=""><a href="/explore/songcategories/">Explore Songs</a></li>
                <li class=""><a href="/explore/users/">Explore Users</a></li>
            </ul>
        </li>

        <!-- Profile -->
        <li class="{% if tab == 'profile'%}active{% endif %}"><a href="/profile/{{user.username}}/1">Profile</a></li>
        <!-- Search -->
        <li class="{% if tab == 'search' %}active{% endif %}"><a href="/search/">Search</a></li>
    </ul>
    {% endblock %}
    
    <!-- Implementation of Post and Login Button feature -->
    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Post New Song!</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist" id='myTabs'>
                        <li role="presentation" class="active"><a href="#link" aria-controls="link" role="tab" data-toggle="tab" aria-expanded="true">Link</a></li>
                        <li role="presentation"><a href="#search_tab" aria-controls="search_tab" role="tab" data-toggle="tab">Search</a></li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="link">
                            <div>
                                <div style='float:right;'>
                                    <div id='link_video'></div>
                                </div>
                                <form action="/post/" method="post" style="width:45%;">{% csrf_token %}
                                    <div class="form-group">
                                        <label for="input_link">link</label>
                                        <input type="link" class="form-control" id="input_link" name="input_link" placeholder="Please paste the link">
                                        <!--<button  id="show_link">show link</button> -->
                                        <input type="button" id="show_link" value="show link">
                                    </div>
                                    <div class="form-group">
                                        <label hidden="true" for="vidsID">videoID</label>
                                        <input type="hidden" class="form-control" id="vidsID" name="vidsID" placeholder="Video ID">
                                        <input  class="form-control" id="vidsTitle" name="vidsTitle" placeholder="VideoTitle" style="margin-top:10px">
                                    </div>
                                    <div class="form-group">
                                        <label for="input_start">Where do you want it to start</label>
                                        <input type="start_time" class="form-control" id="input_start" name="input_start" placeholder="calculated in seconds">
                                    </div>
                                    <div class="form-group">
                                        <label for="post_message">Say sth...</label>
                                        <textarea type="text" class="form-control" id="post_message" placeholder="type sth here" rows="3" name="post_message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="category">
                                            <option value='rock' selected>Rock</option>
                                                    
                                                    <option value='hip_hop'>Hip hop</option>
                                                    <option value='pop'>Pop</option>
                                                    <option value='post_rock'>Post rock</option>
                                                    <option value='punk'>Punk</option>
                                                    <option value='indie'>Indie</option>
                                                    <option value='acoustic'>Acoustic</option>
                                                    <option value='electronic'>Electronic</option>
                                                    <option value='randb'>R&B</option>
                                                    <option value='country'>Country</option>
                                                    <option value='jazz'>Jazz</option>
                                                    <option value='classical'>Classical</option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="user" value="{{ user.id }}">
                                    <!--<div class="checkbox">
                                        <label>
                                        <input type="checkbox"> Check me out
                                        </label>
                                    </div>-->
                                    <input type="submit" class="btn btn-default" value="Submit">

                                </form>

                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="search_tab">
                            <div>
                                <div class="row" align="center">
                                    <div class="col-sm-4">
                                        <form action="/post/" method="post" >{% csrf_token %}

                                            <div class="form-group">
                                                <label hidden="true" for="vidsID">videoID</label>
                                                <input type="hidden" class="form-control" id="searchvidsID" name="vidsID" placeholder="Video ID">
                                                <input  class="form-control" id="searchvidsTitle" name="vidsTitle" placeholder="VideoTitle" style="margin-top:10px">
                                            </div>
                                            <div class="form-group">
                                                <label for="input_start">Where do you want it to start</label>
                                                <input type="start_time" class="form-control" id="searchinput_start" name="input_start" placeholder="calculated in seconds">
                                            </div>
                                            <div class="form-group">
                                                <label for="post_message">Say sth...</label>
                                                <textarea type="text" class="form-control" id="searchpost_message" placeholder="type sth here" rows="3" name="post_message"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="category">
                                                    <option value='rock' selected>Rock</option>
                                                    <option value='hip_hop'>Hip hop</option>
                                                    <option value='pop'>Pop</option>
                                                    <option value='post_rock'>Post rock</option>
                                                    <option value='punk'>Punk</option>
                                                    <option value='indie'>Indie</option>
                                                    <option value='acoustic'>Acoustic</option>
                                                    <option value='electronic'>Electronic</option>
                                                    <option value='randb'>R&B</option>
                                                    <option value='country'>Country</option>
                                                    <option value='jazz'>Jazz</option>
                                                    <option value='classical'>Classical</option>
                                                </select>
                                            </div>
                                            <input type="hidden" name="user" value="{{ user.id }}">
                                            <!--<div class="checkbox">
                                        <label>
                                        <input type="checkbox"> Check me out
                                        </label>
                                    </div>-->
                                            <input type="submit" class="btn btn-default" value="Submit">

                                        </form>
                                    </div>
                                    <div class="col-sm-6 ">
                                        <form action="#" id='search_form'>
                                            <label for="input_song">Search new songs</label>
                                            <p>
                                                <input type="text" id="input_song" placeholder="insert here..." autocomplete="off" class="form-control" />
                                            </p>
                                            <p>
                                                <input type="submit" value="Search" class="form-control btn btn-primary w100" style="width:45%;">
                                            </p>
                                        </form>
                                        <div id="results"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Send message</button>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Tab Content implement by separate html templates -->
    {% block content %} {% endblock %}

    <!-- The Overall Website Footer -->
    <div id='footer_container' class="container-fluid bg-light-gray" >
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; YouBox Team 2016</p>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
