{% extends 'playground_base.html' %}
{% load staticfiles %}
{% block navbar %}
        <li><a href="/home">Home</a></li>
        <li><a href="/explore/songcategories/">Explore</a></li>
        <li class="active"><a href="/profile/">Profile</a></li>
        <li ><a href="/search/">Search</a></li>
{% endblock %}
{% block content %}
{% if user.username %}
<div  class="col-md-11 col-md-offset-1" style="margin-top:3%; margin-bottom:20px; " >	
	<ul class="nav nav-pills" role="tablist" id='myTabs'>
	    <li role="presentation" class="active">
	    	<a href="#user_profile" aria-controls="user_profile" role="tab" data-toggle="tab" aria-expanded="true">User Profile</a>
	    </li>
	    <li role="presentation">
	    	<a href="#follow" aria-controls="follow" role="tab" data-toggle="tab">Follow</a>
	    </li>
	</ul>

</div>

<div class="col-md-11 col-md-offset-1">
	<div class="tab-content" >
	    <div role="tabpanel" class="tab-pane fade in active" id="user_profile">
	    	
	        <div class = 'row'>
	        	<div class="col-md-2">
	            	<img src="../static/img/user_pic.jpg" class= "img-circle img-responsive img-thumbnail" >
	        	</div>
	           	<div class="col-md-2">
                    
                    	<h3>{{ user_other }}</h3>

                    	<button class="glyphicon glyphicon-play button" aria-hidden="true" style="margin-top:30%;" id = "play" onclick="playlist()" ></button>
                	
                </div>

                <div id="player"></div>
	        </div>

	        <div class="page-header"></div>
	        <div>
	        	

	        </div>

	    </div>

	    <div role="tabpanel" class="tab-pane fade" id="follow">
	        <div>
	            
	        	 
	        </div>
	  	</div>
	    
	</div>
</div>
{% else %}
<h3 align="center">Please Login !</h3>
{% endif %}




<script type="text/javascript">
var videos =JSON.parse('{{ data|safe }}');
var video_id_list=[];
function playlist(user_post){
	
	for (var i=0;i<videos.length;i++){
		video_id_list[i]=videos[i].fields.url;

	}
	//console.log(videos);
	//console.log(videos[1]);
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player;
	console.log("here2");
	
	var done = false;
	
	
}


window.onYouTubePlayerAPIReady=function() {
	player = new YT.Player('player', {
	  height: '390',
	  width: '640',
	 loadPlaylist:{
	    listType:'playlist',
	    list:video_id_list,
	    index:parseInt(0),
	    suggestedQuality:'small'
	 },
	  events: {
	    'onReady': onPlayerReady,
	    'onStateChange': onPlayerStateChange
	  }
	});
}
function onPlayerReady(event) {
	event.target.loadPlaylist(video_id_list);
}
function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.PLAYING && !done) {
	 // setTimeout(stopVideo, 60000);
	  done = true;
	}
}
function stopVideo() {
	player.stopVideo();
}



</script>
{% endblock %}
