{% extends 'playground_base.html' %}
{% load staticfiles %}

{% block content %}
	<ul>
		{%for profile_user in user_list %}
			<li><a href="{% url 'profile_url' profile_user %}">{{profile_user}}</a></li>
		{%endfor%}

	</ul>
	{% if user.username %}



	    	
	        <div class = 'row'>
	        	<div class="col-md-2">
	            	<img src="../static/img/user_pic.jpg" class= "img-circle img-responsive img-thumbnail" >
	        	</div>
	           	<div class="col-md-2">
                    
                    	<h3>{{ user_other}}<input type="button" class="btn btn-primary btn-xs" style="margin-left:10px" onclick='follow(this)' value='+follow'/></h3>

                    	<button class="glyphicon glyphicon-play button" aria-hidden="true" style="margin-top:30%;" id = "play" onclick="playlist()" ></button>
                	
                </div>

                <div id="player"></div>
	        </div>

	        <div class="page-header"></div>
	        <div>
	        	

	        </div>


	    <div role="tabpanel" class="tab-pane fade" id="follow">
	        <div>
	            
	        	 
	        </div>
	  	</div>
	    

{% else %}
<h3 align="center">Please Login !</h3>
{% endif %}




<script type="text/javascript">
var videos =JSON.parse('{{ data|safe }}');
var video_id_list=[];
function playlist(user_post){
	
	for (var i=0;i<videos.length;i++){
		video_id_list[i]=videos[i].fields.url;

	}
	//console.log(videos);
	//console.log(videos[1]);
	var tag = document.createElement('script');
	tag.src = "https://www.youtube.com/iframe_api";
	var firstScriptTag = document.getElementsByTagName('script')[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	var player;
	console.log("here2");
	
	var done = false;
	
	
}


window.onYouTubePlayerAPIReady=function() {
	player = new YT.Player('player', {
	  height: '390',
	  width: '640',
	 loadPlaylist:{
	    listType:'playlist',
	    list:video_id_list,
	    index:parseInt(0),
	    suggestedQuality:'small'
	 },
	  events: {
	    'onReady': onPlayerReady,
	    'onStateChange': onPlayerStateChange
	  }
	});
}
function onPlayerReady(event) {
	event.target.loadPlaylist(video_id_list);
}
function onPlayerStateChange(event) {
	if (event.data == YT.PlayerState.PLAYING && !done) {
	 // setTimeout(stopVideo, 60000);
	  done = true;
	}
}
function stopVideo() {
	player.stopVideo();
}

function follow(item){
	//var current_user={{user_other}};
	//console.log(current_user);
	if($(item).attr('value')=='followed'){
		$(item).prop('class','btn btn-primary btn-xs');
		$(item).prop('value','+follow');
		$.post('/unfollow/',{
			"follow":"{{user_other}}"
		});
		
	
	}
	else{
		$(item).prop('class','btn btn-success btn-xs');
		$(item).prop('value','followed');
		$.post('/follow/',{
			"follow":"{{user_other}}"
		});
		
	}
	
	
}


</script>
{% endblock %}